/* *{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
} */

body{
    font-family: 'Roboto', sans-serif;
}

/* Header */

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
margin: 13px auto 15px;
}

.header-ul{
    display: flex;
    gap: 62px;
}

.header-nav{

}

.header-li{

}

.header-link{
    height: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #1C1C1C;
    text-decoration: none;
}

.header-link:hover{
    font-weight: 700;
    color: #d34983;
    transition: 300ms;
     cursor: pointer;
}

.button{
width: 157px;
Height: 40px; 
border-radius: 20px;
border: none;
background: #6F2CFF;

font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #FFFFFF;
}

.button:hover{
    background: #d34983;
    transition: 300ms;
    cursor: pointer;
}

/* hero */

.hero{
    background: #F6BED9;
    padding: 58px 0 59px;

}

.hero-title{
font-family: 'Roboto';
    font-weight: 700;
    font-size: 54px;
    line-height: 1.13;
    color: #000000;
    max-width: 470px;
}

.hero-title-violet{
    color: #6F2DFF;

}

.hero-text {
font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    color: #000000;
    max-width: 438px;
    margin: 18px 0;
}

.hero-text-bold{
font-weight: 700;
}

.hero-input{
    height: 45px;
    width: 268px;
    border: 1px solid #6F2CFF;
    border-radius: 28px;
    padding-left: 26px;
}

.hero-input::placeholder{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4
    color: rgba(0, 0, 0, 0.27);
}

.hero-input:hover{
    outline: none;
}

.hero-button {
width: 187px;
height: 45px;
margin-left: 9px;
}

/* portfolio */

.portfolio{
margin: 136px 0 167px;
}

.portfolio-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.12;
    color: #1C1C1C;
    max-width: 416px;
}

.portfolio-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 334px;
    box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
    border-radius: 0px 0px 7px 7px;
    background: #FFFFFF;
}

.portfolio-item:hover{
    background: #F6BED9;
    transition: 300ms;
}

.portfolio-item-title{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 26px;
    line-height: 0.85;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 36px;
    padding-bottom: 28px;
}

.portfolio-item-title:hover{
    text-decoration: underline;
    transition: 300ms;
}

.portfolio-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #6F2CFF;
    max-width: 219px;
    padding-bottom: 82px;
}

/* features */

.features{
margin-bottom: 136px;
}

.features-title{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.12;
        color: #1C1C1C;
        text-align: center;
        padding-top: 31px;
        padding-bottom: 79px;
}

.features-item{
    max-width: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-item-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 19px;
    line-height: 1.21;
    text-align: center;
    color: #000000;
    padding-top: 42px;
    padding-bottom: 16px;
}

.features-item-text{
font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.47;
    text-align: center;
    color: #000000;
}

/* footer */

.footer{
    background: #20003C;
    padding: 67px 0 68px;
}

.footer-nav{

}

.footer-li{
}

.footer-link{
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.30;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-link:hover {
    color: #d34983;
    transition: 300ms;
    cursor: pointer;
}

.footer-ul{
    display: flex;
    gap: 74px;
}